<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stanley - Detalle del Producto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="wrapper">
        <header class="header-mobile">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="150">
            <button class="open-menu" id="open-menu">
                <i class="bi bi-list"></i>
            </button>
        </header>
        <aside>
            <button class="close-menu" id="close-menu">
                <i class="bi bi-x"></i>
            </button>
            <header>
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="150">
            </header>
            <nav>
                <ul class="menu">
                    <li>
                        <a class="boton-menu boton-volver" href="{{ url_for('index') }}">
                            <i class="bi bi-arrow-return-left"></i> Seguir comprando
                        </a>
                    </li>
                    <li>
                        <a class="boton-menu boton-carrito" href="{{ url_for('carrito') }}">
                            <i class="bi bi-cart-fill"></i> Carrito <span id="numerito" class="numerito">0</span>
                        </a>
                    </li>

                    <div class="user-actions">
                        {% if session.get('username') %}
                            <a class="boton-menu boton-carrito" href="{{ url_for('logout') }}">
                                <i class="bi bi-box-arrow-right"></i> Salir de la cuenta
                            </a>
                        {% else %}
                            <a class="boton-menu boton-carrito" href="{{ url_for('login') }}">
                                <i class="bi bi-person-circle"></i> Cuenta
                            </a>
                        {% endif %}
                        <div class="user-info">
                            {% if session.get('username') %}
                                <p>Bienvenido, {{ session['username'] }}!</p>
                            {% endif %}
                        </div>
                    </div>

                </ul>
            </nav>
            <footer>
                <p class="texto-footer">© 2024 Stanley</p>
            </footer>
        </aside>
        <main>
            <div class="product-detail">
                <h2 id="product-title" class="titulo-principal"></h2>
                <img id="product-image" alt="Imagen del producto" class="product-image">
                <p id="product-category" class="product-category"></p>
                <p id="product-price" class="product-price"></p>
                <p id="product-description" class="product-description"></p>
                <div id="producto-agregar" class="producto-agregar">
                    <!-- Esto se rellena con JS -->
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        const jsonURL = "{{ url_for('static', filename='js/productos.json') }}";
    </script>
    <script src="{{ url_for('static', filename='js/detalle_producto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>