<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stanley - Registro y Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('index') }}">
            <img src="/static/img/logobl.png" alt="Logo de Stanley" class="logo">
        </a>
    </div>
    
    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ 'alert-' + category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <div class="tab">
            <button id="loginTab" class="active" onclick="showForm('login')">Login</button>
            <button id="registerTab" onclick="showForm('register')">Registro</button>
        </div>

        <div id="login" class="form-container active">
            <form action="{{ url_for('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="submit-btn">Iniciar Sesión</button>
            </form>
        </div>

        <div id="register" class="form-container">
            <form id="registerForm">
                <div class="form-group">
                    <label for="newUsername">Usuario</label>
                    <input type="text" id="newUsername" name="newUsername" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">Contraseña</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                </div>
                <button type="submit" class="submit-btn">Registrarse</button>
            </form>
        </div>
        
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
